<app-header></app-header>
<form (ngSubmit)="upload()" #fileUploadForm="ngForm" class="my-form">
  <div class="form-group">
    <label for="excelFile">Sélectionner un fichier Excel</label>
    <div class="custom-file">
      <!-- <input type="file" (change)="onFileSelected($event)" /> -->
      <!-- <button class="btn btn-primary" (click)="upload()">Upload</button> -->
      <input type="file" class="custom-file-input" id="excelFile" (change)="onFileSelected($event)" required accept=".xls,.xlsx">
      <!-- <div class="invalid-feedback" *ngIf="fileUploadForm.submitted">Veuillez sélectionner un fichier Excel valide.</div> -->
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
